{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div class="flash-{{ label }} p-3 fixed-top bg-{{ label}} text-white text-center">
            {{ message }}
        </div> 
    {% endfor %} 
{% endfor %}