{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% block
body %}

{#------------
--- slider ---
------------#}

<section>
    <div class="container-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('img/agate-g737a3da84_1280.png')}}" class="d-block w-100 figure-img img-fluid" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/gemstones-gbe477592d_1280.jpg')}}" class="d-block w-100 figure-img img-fluid" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/stones-g6851f416e_1280.jpg')}}" class="d-block w-100 figure-img img-fluid" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/wwwbabyamberteethingcouk-gb44a1fe51_1280.jpg')}}" class="d-block w-100 figure-img img-fluid" alt="..." />
                </div>
            </div>
        </div>
    </div> 
</section>


{% endblock %}