{% extends 'base.html.twig' %}

{% block title %}Les minéraux{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 pb-3">
            <div class="row pt-5 pb-3">
                <div class="col-12 col-md-4 text-center">
                    <h1>Les minéraux</h1>
                </div>
            </div>
            <div class="row p-5">
                {% for pierre in pierres %}
                    {% if pierre.parent != NULL %}
                        <div class="col-12 col-md-4 p-3">
                            <a href="{{ path('minerals_details', {id:pierre.id})}}">
                                <div class="card bg-dark text-white card-product h-100">
                                    <img src="{{asset('img/' ~ pierre.image )}}" alt="{{ pierre.name }}" class="card-img img-fluid categoryImage">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">{{ pierre.name }}</h5> 
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
            {% endfor %}
            </div>
           
        </div>
    </div>
</div>
{% endblock %}
