{% extends 'base.html.twig' %}

{% block title %}Les colliers{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 pb-3">
            <div class="row  pt-5 pb-3">
                <div class="col-12 col-md-4 text-center">
                    <h1>Les colliers</h1>
                </div>
            </div>
             <div class="row p-5">
                {% for collier in colliers %}
                    {% if collier.parent != NULL %}
                        <div class="col-12 col-md-4 p-3">
                            <a href="{{ path('necklaces_details', {id:collier.id})}}">
                                <div class="card bg-dark text-white card-product">
                                    <img src="{{asset('img/' ~ collier.image )}}" alt="" class="card-img">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">{{ collier.name }}</h5> 
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
