{% extends 'base.html.twig' %}

{% block title %}Les bracelets{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 pb-3">
            <div class="row p-5 pb-3">
                <div class="col-12 col-md-4 text-center">
                    <h1>Les bracelets</h1>
                </div>
            </div>
            <div class="row p-5">
                {% for bracelet in bracelets %}
                    {% if bracelet.parent != NULL %}
                        <div class="col-12 col-md-4 p-3">
                            <a href="{{ path('wristbands_details', {id:bracelet.id})}}">
                                <div class="card bg-dark text-white card-product">
                                    <img src="{{asset('img/' ~ bracelet.image )}}" alt="" class="card-img">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title">{{ bracelet.name }}</h5> 
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
