/**************
*** GENERAL ***
**************/

html{
    min-height: 100%; 
 }
 body {
   height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0!important;
 }
 body:after {
     content: '';
     flex: 1 1 auto;
 }
 #buttonScrollTop{
   position: fixed;
   bottom: 40px;
   /* right: -50px; */
   right: 25px;
   opacity: 0;
   width: 50px;
   height: 50px;
   background-color: #333333;
   z-index: 999;
   border-radius: 50%;
   transition: 0.5s;
 }
 #buttonScrollTop svg{
    width: 25px;
    height: 100%;
    margin: auto;
    display: block;
    color: #dddddd;
 }
 #buttonScrollTop:hover{
   /*background-color: purple;
   transform: scale3d(1, 1, 1);
   border-radius: 20%;
   transform: rotateY(150deg);*/
   
   transform: translate(0px, -1.5vh);
   
 }
 .buttonActive{
    position: fixed;
    /* right: 25px!important; */
    opacity: 1!important;
    transition: 0.5s;
 }

/***********
*** HOME ***
***********/

#homeHeader{
    height: 80vh;
}
#carouselNewProduct{
    height: 500px;
}
.imgCarousel{
    max-height: 17em;
    min-height: 17em;
    max-width: 19em;
    min-width: 19em;
    object-fit: cover;
}
#carouselExampleDark .carousel-control-prev{
    left: -8%;
}
#carouselExampleDark .carousel-control-next{
    right: -8%;
}
#productsHome .productImg{
    height: 680px;
}
.imgCategory{
    height: 100%;
    object-fit: cover;
}
.backgroundCategory{
    background-repeat: round;
    background-attachment: fixed;
    background-size: contain;
}

/******************************
*** SOUS-CATEGORIES DETAILS ***
******************************/

.bannierDetail{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.breadcrumb-item::before{
    color: #ffffff!important;
}
.card-product{
    transition: all 0.5s; 
}
.card-product:hover{
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%),
                0 16px 32px rgb(0 0 0 / 20%);
    transform: scale(1.1, 1.1);
}

/*****************
*** EXPOSITION ***
*****************/

.displayEvent{
    display: inline-block;
    align-self: center;
}
.sizeDay{
    font-size: 47px;
}

/*************
*** FOOTER ***
*************/

.footer{
    order: 1;
}
