{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout des catégories{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1>Ajout des catégories</h1>

    <div class="container">
        <div class="row">
            <div class="col-10 p-3">
                {{form_start(formCategorie)}}
                {{form_end(formCategorie)}}
            </div>
        </div>
    </div>
    {# <script>
        $(document).ready(function(){
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script> #}
{% endblock %}