{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout des produits{% endblock %}

{% block body %}
    <h1>Ajout des produits</h1>

    <div class="container">
        <div class="row">
            <div class="col-10 p-3">
                {{form_start()}}
                {{form_end()}}
            </div>
        </div>
    </div>
{% endblock %}


