{% extends "base.html.twig" %}

{% block title %}Erreur 401 - {% {% endblock %} %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><a href="{{ path('home')}}">Revenir à l'accueil</a></p>
        </div>
    </div>
</div>
{% endblock %}