{% extends "base.html.twig" %}

{% block title %}Erreur 404 - Page non trouvée{% endblock %}

{% block body %}

<div class="container-fluid error404" style="background-image: url('img/5155992_2704133.jpg')">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h1>Page non trouvée</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>La page demandée est introuvable. Verifier l'orthographe ou
            <a href="{{ path('home')}}">retourner à la page d'accueil</a></p>
        </div>
    </div>
</div>
{% endblock %}